<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HTML</title>
  
  </head>
  <body>
  <p>
    Welcome to meeting planner
  </p>
  <ul>
    {% for meeting in meetings %}
      <li>
        <a href="{% url 'detail' meeting.id %}">
          {{meeting.title}}
        </a>
      </li>
    {% endfor %}
  </ul>
  <a href="{% url 'rooms' %}">Rooms</a>
  </body>
</html>